:root {
  --background-color: #f8f0e3;
  --border-color: #cd9436;
  --main-font-color: #292929;
  --headings-color: #a37122;
}

h2 {
  text-align: center;
  font-size: 1.5rem;
  color: var(--headings-color);
  font-weight: 400;
  margin-left: 2rem;
  margin-bottom: 2rem;
}