.submit-form {
    border: 1px solid var(--border-color);
    margin: 2rem auto;
    padding: 0 2rem 2rem;
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    justify-content: center;
    width: 25%;
}